/* .page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-to {
  opacity: 0;
} */

.prefix-enter-active, .prefix-leave-active {
  transition: opacity .5s;
}

.prefix-enter, .prefix-leave-to {
  opacity: 0;
}
